.full-width {
  width: 940px !important;
}

.contentWrapper {
  position: absolute;
}

.graticule {
  fill: none;
  display: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: rgba(170,170,170,0.7);
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.columns {
  transition: all 0.9s ease-in-out;
}

#categories {
  position: relative !important;
  /*background-color: #fff;*/
}

#map {
  width:940px; 
  height:390px;
}

.point {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.point:hover {
  width: 10;
}

.invisible {
  display: none;
}

.heading {
  font-weight: 300;
}

.category-box {
  font-size: 0.85em;
  width: 107px;
  height: 53px;
  background-color: #eee;
  margin: 3px 3px 0 0;
  padding: 16px 5px;
  cursor: pointer;
  float:left;
  transition: all 0.3s ease-in-out;
}

.selected {
  background-color: #bedded;
}

#meta-viz {
  font-weight: 300;
  font-size: 1.5em;
  margin: 7px 0;
}

#info {
  margin: 10px 0 10px 0;
}

.name {
  font-weight: 300;
  font-size: 1.8em;
}
.degree {
  color: #555;
  margin: 3px 0 0 0;
}
.notes {
  font-style: italic;
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}


