.full-width {
  width: 940px !important;
}

.contentWrapper {
  position: absolute;
}

.graticule {
  fill: none;
  display: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: rgba(170,170,170,0.7);
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.columns {
  transition: all 0.9s ease-in-out;
}

#categories {
  position: relative !important;
  /*background-color: #fff;*/
}

#map {
  width:940px; 
  height:390px;
}

.point {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.point:hover {
  width: 10;
}

.invisible {
  display: none;
}

.heading {
  font-weight: 300;
}

.category-box {
  font-size: 0.85em;
  width: 16px;
  height: 16px;
  background-color: #eee;
  margin: 3px 3px 3px 3px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.selected {
  border-left-width: 16px !important;
  background-color: #bedded;
}

.text-inlay {
  position: absolute;
  text-transform: capitalize;
  left: 40px;
}

.leaflet-bottom {
  display: none;
}

#meta-viz {
  font-weight: 300;
  margin: 7px 0px;
}
h2 {
  font-weight: bolder;
}
.info-inner {
  border: 3px #efefef solid;
  border-right-width: 0px !important;
  border-left-width: 0px !important;
  padding-top: 10px;
  height: 260px;
}

#info {
  margin: 10px 0 10px 0;
}

.name {
  font-weight: 300;
  font-size: 1.8em;
}
.degree {
  color: #555;
  margin: 3px 0 0 0;
}
.notes {
  font-style: italic;
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.cardhighlight {
  margin-bottom: 1px !important;
}

#searchbox {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
}


/* Bar graph */

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


