@charset "UTF-8";
/* CSS Document */

body {
	background-color: #cccccc;
}

.mainWrapper {
	width: 675px;
	height: 100%;
	padding: 0 0px;
	margin: 0px auto;
	position:relative;
}


.mainContent {
	font-family: 'Helvetica-Nueue', 'Helvetica', sans-serif;
	font-size: 90%;
    width: 575px;
    margin-left:37px;
	margin-top:-5px;
	padding-bottom:10px;
    background-color: #fff;
    float:left;
	
}

.mainContent .heading {
    font-family: 'Helvetica-Nueue', 'Helvetica', sans-serif;
    font-size: 150%;
    color:#7a3236;
    padding: 0px 0px 0px 10px;
}

.mainContent .content {
    font-family: 'Helvetica-Nueue', 'Helvetica', sans-serif;
    font-size: 100%;
    color: #000;
    padding: 0px 10px 0px 10px;
    line-height: 1.2;
}

.mainContent .caption {
    font-family: 'Helvetica-Nueue', 'Helvetica', sans-serif;
    font-size: 70%;
    color: #000;
    padding: 10px 10px 10px 10px;
}

.mainContent .imagecontent {   
    padding: 5px 10px 5px 10px;
}

.mainContent .content a {
    color:#7a98ab;
    text-decoration:none;
}

.mainContent .content a:hover {
    color:#7a3236;
    text-decoration:none;
}

.mainContent .strong {
    font-weight:bold;
}

.mainContent .italic {  
    font-style:italic;
}

body {
	background-color: #CCCCCC;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	color: #5A2D00;
	margin-left: 20px;
	font-weight: bolder;
	border-bottom-style: solid;
	border-bottom-width: thin;
	margin-right: 20px;
	margin-top: 30px;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 20px;
	color: #777777;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #222222;
	margin: 20px;
}
a {
	text-decoration: underline;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	color: #006699;
}
a:hover {
	text-decoration: underline;
	font-style: normal;
	line-height: normal;
	color: #542500;
}
a:visited {
	text-decoration: underline;
	font-style: normal;
	line-height: normal;
	color: #006699;
}